.filter-container{
  margin: 5rem 0;
}

.products{
  position: relative;
  .left{
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 0px;
  }
  .right{
    position: absolute;
    z-index: 2;
    top: 45%;
    right: 0px;
  }
}